<div class="container"> <!-- CONTENEDOR PRINCIPAL--> 
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!-- BARRA DE NAVEGACION -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="">
      NG-BLOG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="['categoria', category.id]">{{category.name}}</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="identity.name === undefined">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>
      
      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li *ngIf="identity && identity.image" class="nav-item">
          <div class="avatar_mask">
            <img src="{{url + 'user/avatar/' + identity.image }}" class="avatar_nav"/>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ identity.name + " " + identity.surname }}
          </a>

          <ul class="navbar-nav navbar-right" *ngIf="identity.name">
            <li class="nav-item active"><a class="nav-link" [routerLink]="['/crear-entrada']">Crear entrada</a></li>
            <li class="nav-item active"><a class="nav-link" [routerLink]="['/crear-categoria']">Crear categoria</a></li>
            <li class="nav-item active"><a class="nav-link" [routerLink]="['/perfil', identity.id]">Mi perfil</a></li>
            <li class="nav-item active"><a class="nav-link" [routerLink]="['/ajustes']">Ajustes</a></li>
            <li class="nav-item active"><a class="nav-link" [routerLink]="['/logout/1']">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
  </nav> <!-- CERRAMOS BARRA DE NAVEGACION -->

  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
  
  <!--<app-post-new></app-post-new>-->

  <footer>
    <hr>
    Master en desarrollo web full-stack &copy;
    <hr>
  </footer>

</div> <!-- CERRAMOS EL CONTENEDOR PRINCIPAL -->